@font-face {
    font-family: 'MarcellusSC-Regular';
    src: url('font-family/MarcellusSC-Regular.ttf')
}

html {
    scroll-behavior: smooth;
    --vi: #8a307f;
    --blc: #79a7d3;
    --blf: #6883bc;
}

body {
    margin: 0;
    padding: 0;
    background-color: wheat;
    font-family: 'MarcellusSC-Regular', cursive;
}

section {
    display: flex;
    justify-content: center;
    height: 450px;
}

.picture {
    width: 100%;
    height: 200px;
    position: relative;
    box-shadow: 0 20px 45px rgba(0, 0, 0, 0.4);
    transition: 0.7s ease-in;
}

.picture:after {
    content: '';
    height: inherit;
    width: inherit;
    background: inherit;
    position: absolute;
    bottom: -100%;
    transform: rotateX(180deg);
}

.picture:before {
    content: '';
    height: inherit;
    width: inherit;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), #fff 100%);
    position: absolute;
    bottom: -100%;
    z-index: 10;
}

.picture:hover {
    transform: scale(1.3);
    z-index: 20;
}

#video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}