@font-face {
    font-family: 'MarcellusSC-Regular';
    src: url('font-family/MarcellusSC-Regular.ttf')
}

html {
    scroll-behavior: smooth;
    --vi: #8a307f;
    --blc: #79a7d3;
    --blf: #6883bc;
}

header {
    background-color: var(--blc);
    position: relative;
    width: 100%;
}

h1 {
    text-align: center;
    font-size: 2rem;
    color: var(--vi);
}

body {
    font-family: 'MarcellusSC-Regular';
    background-color: wheat;
}

nav {
    display: block;
}

ul {
    list-style: none;
    padding: 0;
}

nav>ul li {
    display: inline-block;
    width: 110px;
    text-align: center;
    background-color: var(--blc);
    border: solid 2px;
    border-radius: 10px;
}

.logo {
    width: 100px;
    height: 100px;
    padding: 10px;
    top: 195px;
}

footer>p {
    background-color: var(--blf);
    margin-bottom: 0px;
    text-align: center;
    font-size: 14px;
    color: black;
    width: 100vw;
    position: static;
}

.presentation {
    color: var(--blf);
    width: 100%;
    text-align: center;
}

h2 {
    color: var(--vi);
    text-decoration: underline overline
}

a {
    color: var(--vi);
}

.carrousel {
    padding: 10px;
}

p {
    border: solid 5px var(--blc);
    padding: 20px;
}

.d-block {
    height: 300px;
    width: 280px;
}

#carouselExampleIndicators {}