html {
    scroll-behavior: smooth;
    --vi: #8a307f;
    --blc: #79a7d3;
    --blf: #6883bc;
}

body {
    margin: 0;
    padding: 0;
    background-color: wheat;
    font-family: 'Zhi Mang Xing', cursive;
}

section {
    display: flex;
    justify-content: center;
    height: 450px;
}

.picture {
    width: 100%;
    height: 200px;
    position: relative;
    box-shadow: 0 20px 45px rgba(0, 0, 0, 0.4);
    transition: 0.7s ease-in;
}

.picture:after {
    content: '';
    height: inherit;
    width: inherit;
    background: inherit;
    position: absolute;
    bottom: -100%;
    transform: rotateX(180deg);
}

.picture:before {
    content: '';
    height: inherit;
    width: inherit;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), #fff 100%);
    position: absolute;
    bottom: -100%;
    z-index: 10;
}

.picture:hover {
    transform: scale(1.3);
    z-index: 20;
}

#video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

h2 {
    font-size: 6rem;
    position: absolute;
    top: 1rem;
    left: 5rem;
    font-weight: bold;
    color: var(--vi);
    text-shadow: 1px 2px 6px #eee;
}

footer>p {
    background-color: var(--blf);
    margin-bottom: 0px;
    text-align: center;
    font-size: 14px;
    color: black;
    width: 100vw;
    position: static;
    padding: 0;
}

nav>ul li {
    display: inline-block;
    width: 110px;
    text-align: center;
    background-color: var(--blc);
    border: solid 2px;
    border-radius: 10px;
}

.card-title {
    color: var(--vi);
    text-decoration: underline;
}

.card-text {
    color: var(--blf);
    font-family: cursive;
}

.img-radius>img {
    vertical-align: none;
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

.pagination {
    margin-top: 16px;
    margin-bottom: 0;
}

.img-radius {
    text-align: center;
    margin-top: 10px;
}